<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cASino </title>
    <!-- BOOTSTRAP STYLING -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- GOOGLE FONT FAMILY -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300&display=swap" rel="stylesheet">
    <!-- CSS Linked -->
    <link rel="stylesheet" type="text/css" href="../public/styles/404.css">
</head>

<body id="background-404">

    <div id="container-404">
        <div>
            <h1 class="page-not-found-header">4<span><img src="../public/styles/pictures/htmlPics/roulette.png"
                        style="width:100px; height: 100px" id="image-404"></span>4</h1>
        </div>
        <h1 class="page-not-found">Oops! Page not found.</h1>
        <button type="button" class="btn btn-danger" id="return-btn">Go to Home Page</button>

    </div>

</body>

</html>