<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casino</title>
    <!-- BOOTSTRAP VANILLA JS STYLING -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- BOOTSTRAP CSS STYLING -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- GOOGLE FONT FAMILY -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300&display=swap" rel="stylesheet">
    <!-- CSS Linked -->
    <link rel="stylesheet" type="text/css" href="/styles/coins.css">
    <!-- ICONS -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="background-home">

    <!-- SIDE COLUMN -->
    <div class="row">
        <div class="col-2" id="home-col">
            <h1 id="spade"> &spades; </h1>
            <!-- <div class="jumbotron" id ="jumbotron"> -->
            <h4>SPADES</h4>
            <img src="/styles/pictures/htmlPics/divider.png" style="width:130px;">
            <!-- <h4 id="user-name"> USER NAME </h4> -->
            <!-- </div> -->
            <br>
            <br>
            <div class="jumbotron" id="jumbotron">
                <img id="gift" src="/styles/pictures/htmlPics/giftjpg.jpg">
                <button type="button" class="btn btn-outline-danger" id="log-btn">Rewards</button>
            </div>
            <br>
            <div class="jumbotron" id="jumbotron">
                <button id="chip-btn"><i style='font-size:16px' class='fas'>&#xf015;</i> Home</button>
                <br>
                <hr class="separator-left">
                <br>
                <button id="banking-btn"><i style='font-size:16px' class='fas'>&#xf09d;</i> Bank </button>
                <br>
                <hr class="separator-left">
                <br>
                <button id="blog-btn"><i style='font-size:16px' class='fas'>&#xf044;</i> Blog</button>
            </div>
            <br>

            <!-- <p>© 2019 UCF Coding Bootcamp<br>
                All Rights Reserved.<br>
                Designed by Spades</p> -->

        </div>

        <!-- BODY OF THE HOME PAGE -->
        <div class="col-10">

            <nav class="navbar navbar-dark bg-black" id="nav-bar">
                <div class="effect aeneas">
                    <div class="buttons">
                        <img src="/styles/pictures/htmlPics/facebook.png" class="social-media">
                        <img src="/styles/pictures/htmlPics/instagram.png" class="social-media">
                        <img src="/styles/pictures/htmlPics/linkedin.png" class="social-media">
                        <img src="/styles/pictures/htmlPics/github.png" class="social-media">
                        <img src="/styles/pictures/htmlPics/google-plus.png" class="social-media">

                    </div>
                </div>
                <button id="chip-btn">Chips: <span id="user-chips">0 </span><i style="font-size:20px; color:rgb(236, 193, 0);"
                        class="fas">&#xf51e;</i></button>
            </nav>

            <!-- CAROUSEL BEGINS -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"
                style="width: 100%; height: 350px; margin: 0 auto">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="3000">
                        <img src="/styles/pictures/htmlPics/carousel1.jpg" class="d-block w-100" alt="..."
                            style="width: 1000px; height: 400px">

                        <div class="carousel-caption d-none d-md-block">
                            <h5>READY FOR FRIDAY NIGHT?</h5>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="3000">
                        <img src="/styles/pictures/htmlPics/carousel2.jpg" class="d-block w-100" alt="..."
                            style="width: 1000px; height: 400px">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>LOOKING FOR A GREAT DINNER?</h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="3000">
                        <img src="/styles/pictures/htmlPics/carousel3.jpg" class="d-block w-100" alt="..."
                            style="width: 1000px; height: 400px">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>NOW OPEN!</h5>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!-- CAROUSEL END -->
            <br>
            <div>
                <br>
                <div>
                    <h2 style="color:rgb(236, 193, 0);; margin-left: 30px;">Your Rewards</h2>
                    <img src="/styles/pictures/htmlPics/divider.png" style="width:150px; margin-left: 20px;">
                    <br>
                    <ul id="menu">
                        <li><input type="radio" id="li-margin">Travel</input></li> <span id="vertical-line"> | </span>
                        <li><input type="radio" id="li-margin">Jewelry</input></li> <span id="vertical-line"> | </span>
                        <li><input type="radio" id="li-margin">Food</input></li> <span id="vertical-line"> | </span>
                        <li><input type="radio" id="li-margin">Entertainment </input></li> <span id="vertical-line"> |
                        </span>
                        <li><input type="radio" id="li-margin">Trade Coins</input></li>


                    </ul>
                    <img src="/styles/pictures/htmlPics/divider.png" style="width:1200px; height: 50px;">

                    <div>
                        <div class="row">
                            <div class="col-2" id="rewards">
                                <img src="/styles/pictures/htmlPics/rewards/arena.jpg" class="games-pics"><br><br>
                                <button type="button" class="btn btn-outline-warning"
                                    style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                    class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>

                            </div>
                            <div class="col-2" id="rewards">
                                <img src="/styles/pictures/htmlPics/rewards/cruise.jpg" class="games-pics"><br><br>
                                <button type="button" class="btn btn-outline-warning"
                                    style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                    class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                            </div>
                            <div class="col-2" id="rewards">
                                    <img src="/styles/pictures/htmlPics/rewards/dinner.jpg" class="games-pics"><br><br>
                                    <button type="button" class="btn btn-outline-warning"
                                        style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                        class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                                </div>
                                <div class="col-2" id="rewards">
                                        <img src="/styles/pictures/htmlPics/rewards/headset.jpg" class="games-pics"><br><br>
                                        <button type="button" class="btn btn-outline-warning"
                                            style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                            class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                                    </div>
                        </div>
                        <br>
                          <img src="/styles/pictures/htmlPics/divider.png" style="width:1200px; height: 50px;">

                        <!-- here -->
                        <div>
                                <div class="row">
                                    <div class="col-2" id="rewards">
                                        <img src="/styles/pictures/htmlPics/rewards/iPhone.jpg" class="games-pics"><br><br>
                                        <button type="button" class="btn btn-outline-warning"
                                            style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                            class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
        
                                    </div>
                                    <div class="col-2" id="rewards">
                                        <img src="/styles/pictures/htmlPics/rewards/jewelry.jpg" class="games-pics"><br><br>
                                        <button type="button" class="btn btn-outline-warning"
                                            style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                            class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                                    </div>
                                    <div class="col-2" id="rewards">
                                            <img src="/styles/pictures/htmlPics/rewards/laptop.jpg" class="games-pics"><br><br>
                                            <button type="button" class="btn btn-outline-warning"
                                                style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                                class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                                        </div>
                                        <div class="col-2" id="rewards">
                                                <img src="/styles/pictures/htmlPics/rewards/lasVegas.jpg" class="games-pics"><br><br>
                                                <button type="button" class="btn btn-outline-warning"
                                                    style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                                    class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                                            </div>
                                </div>
                        <br>
                          <img src="/styles/pictures/htmlPics/divider.png" style="width:1200px; height: 50px;">


                        <div>
                                <div class="row">
                                    <div class="col-2" id="rewards">
                                        <img src="/styles/pictures/htmlPics/rewards/moto.jpg" class="games-pics"><br><br>
                                        <button type="button" class="btn btn-outline-warning"
                                            style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                            class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
        
                                    </div>
                                    <div class="col-2" id="rewards">
                                        <img src="/styles/pictures/htmlPics/rewards/puntaCana.jpg" class="games-pics"><br><br>
                                        <button type="button" class="btn btn-outline-warning"
                                            style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                            class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                                    </div>
                                    <div class="col-2" id="rewards">
                                            <img src="/styles/pictures/htmlPics/rewards/rockConcert.jpg" class="games-pics"><br><br>
                                            <button type="button" class="btn btn-outline-warning"
                                                style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                                class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                                        </div>
                                        <div class="col-2" id="rewards">
                                                <img src="/styles/pictures/htmlPics/rewards/yacht.jpg" class="games-pics"><br><br>
                                                <button type="button" class="btn btn-outline-warning"
                                                    style="width: 80px;"><i style="font-size:18px" class="fa">&#xf07a;</i> Cart</button> <button type="button"
                                                    class="btn btn-outline-warning" style="width: 80px;"><i style="font-size:12px" class="fa">&#xf004;</i> Claim</button>
                                            </div>
                                </div>

                    </div>
                </div>
            </div>
            <br><br>



            <!-- Footer -->
            <div class="row">
                <div class="col-lg-12">
                    <footer class="footer">
                        <div class="container" id="footer-content">
                            <div class="row">
                                <div class="col-sm" id="content1">
                                    <ul>
                                        <li id="main-li">About</li>
                                        <li>Careers</li>
                                        <li>Help</li>
                                        <li>FAQ</li>
                                        <li>Affiliates</li>
                                    </ul>
                                </div>
                                <div class="col-sm" id="content2">
                                    <ul>
                                        <li id="main-li">Games</li>
                                        <li>Slots</li>
                                        <li>BlackJack</li>
                                        <li>Flip Coin</li>
                                        <li>Hang Man</li>
                                    </ul>
                                </div>
                                <div class="col-sm" id="content3">
                                    <ul>
                                        <li id="main-li">Security & privacy</li>
                                        <li>Careers</li>
                                        <li>Help</li>
                                        <li>FAQ</li>
                                        <li>Affiliates</li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <hr id="footer-hr">
                            <br>
                            <div class="row">
                                <div class="col-sm" id="content1">
                                    <ul>
                                        <li id="cards"><i style="font-size:50px" class="fa">&#xf1f3;</i></li>
                                        <li id="cards"><i style="font-size:50px" class="fa">&#xf24c;</i></li>
                                        <li id="cards"><i style="font-size:50px" class="fa">&#xf1f2;</i></li>
                                    </ul>
                                </div>
                                <div class="col-sm" id="content2">
                                    <ul>
                                        <li id="cards"><i style="font-size:50px" class="fa">&#xf24b;</i></li>
                                        <li id="cards"><i style="font-size:50px" class="fa">&#xf1f1;</i></li>
                                        <li id="cards"><i style="font-size:50px" class="fa">&#xf1f4;</i></li>

                                    </ul>
                                </div>
                                <div class="col-sm" id="content3">
                                    <ul>
                                        <li id="cards"> <i style="font-size:50px" class="fa">&#xf1f0;</i></li>
                                        <li id="cards"><i style="font-size:50px" class="fa">&#xf1f5;</i></li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <br>
                            <hr id="footer-hr">
                        </div>


                        Copyright <b>©</b>
                    </footer>
                </div>
            </div>

        </div>
    </div>

</body>

</html>