<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casino</title>
    <!-- BOOTSTRAP VANILLA JS STYLING -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- BOOTSTRAP CSS STYLING -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- GOOGLE FONT FAMILY -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300&display=swap" rel="stylesheet">
    <!-- CSS Linked -->
    <link rel="stylesheet" type="text/css" href="../public/styles/index.css">
    <!-- ICONS -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body id="background-home">

    <nav class="navbar navbar-dark bg-black" id="nav-bar">

        <h3 class="bounceInLeft">CASINO</h3>
        <span></span>
        <span></span>
        <span></span>
        <span</span> <!-- Grab the ID "user-chips" to display coins gained by the user and replace the "0" -->
            <button id="chip-btn">Chips: <span id="user-chips">0 </span><i style="font-size:20px; color:yellow"
                    class="fas">&#xf51e;</i></button>
    </nav>

    <div class="row">
        <div class="col-3" id="home-col">

            <br>
            <br>
            <h4>Welcome!</h4>
            <h4 id="user-name">User Name Id</h4>
            <hr class="separator-left">
            <br>
            <img id="gift" src="../public/styles/pictures/htmlPics/giftjpg.jpg">
            <!-- git picture -->
            <button type="button" class="btn btn-outline-danger" id="log-btn">Rewards</button>


            <hr class="separator-left">

            <button id="chip-btn">Home</button>
            <br>
            <br>
            <br>
            <button id="banking-btn">Banking</button>
            <br>
            <br>
            <br>
            <button id="blog-btn">Blog</button>



        </div>

        <!-- BODY OF THE HOME PAGE -->
        <div class="col-9">
            <!-- CAROUSEL  -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="2000">
                        <img src="../public/styles/pictures/htmlPics/background2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img src="../public/styles/pictures/htmlPics/background4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img src="../public/styles/pictures/htmlPics/background404.png" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>

            <!-- Container for Game -->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                </div>

            </div>

            <!-- Footer -->
            <div class="row">
                <div class="col-lg-12">
                    <footer class="footer">Copyright <b>©</b></footer>
                </div>
            </div>

        </div>
    </div>

</body>

</html>