<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chip Guess Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public/styles/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">

</head>

<body style=" background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/172fdd28934711.55da3eb528c59.jpg'); font-family: 'Dosis', sans-serif; font-family: 'Karla', sans-serif;">
    <div style="background-color: rgb(226, 226, 226, 0.3); padding: 30px; margin: 0;">
    <div class="container">

        <div class="jumbotron" style="background-color: rgba(214, 214, 214, 0.4); color: rgb(0, 0, 0);">
            <div class="container">
                <h1 class="text-center">
                    <strong>Chip Collector <i style='font-size:34px' class='fab'>&#xf7c6;</i></strong>
                </h1>
            </div>
        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="card mb-4" style="background-color: rgba(214, 214, 214, 0.4);">
                    <div class="card-header" style="background-color: rgba(214, 214, 214, 0.6);">
                        Instructions
                    </div>
                    <div class="card-body" style="background-color: rgba(214, 214, 214, 0.4);">
                        <p>
                            <p style="font-size: 18px;">
                                By clicking on a chip you will add a specific amount of points to your total score.
                                You win the game by matching your total score to random number, you lose the game if
                                your total score goes above the random number. </p>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="card mb-4" style="background-color: rgba(214, 214, 214, 0.4);">
                    <div class="card-header" style="background-color: rgba(214, 214, 214, 0.4);">
                        Target Score
                    </div>
                    <div class="card-body">
                        <h3 class="text-center" id="target-score"></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="card mb-4" style="background-color: rgba(214, 214, 214, 0.4);">
                    <div class="card-header" style="background-color: rgba(214, 214, 214, 0.4);">
                        Your Score
                    </div>
                    <div class="card-body">
                        <h3 class="text-center" id="your-score"></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="card mb-4" style="background-color: rgba(214, 214, 214, 0.4);">
                    <div class="card-header" style="background-color: rgba(214, 214, 214, 0.4);">
                        Choices of chips
                    </div>
                    <div class="card-body text-center">
                        <img height="40px" width="40px" src="/styles/pictures/blue.png" id="blue">
                        <img height="40px" width="40px" src="/styles/pictures/yellow.png" id="green">
                        <img height="40px" width="40px" src="/styles/pictures/red.png" id="red">
                        <img height="40px" width="40px" src="/styles/pictures/black.png" id="black">
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="card mb-4"  style="background-color: rgba(214, 214, 214, 0.4);">
                    <div class="card-header" style="background-color: rgba(214, 214, 214, 0.4);">
                        Win Count
                    </div>
                    <div class="card-body">
                        <h3 class="text-center" id="win-count">0</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="card mb-4" style="background-color: rgba(214, 214, 214, 0.4);">
                    <div class="card-header" style="background-color: rgba(214, 214, 214, 0.4);">
                        Loss Count
                    </div>
                    <div class="card-body">
                        <h3 class="text-center" id="loss-count">0</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/games/chipGuessGame.js"></script>
</body>

</html>