/* HOME PAGE STYLE */
#background-home{
    background: rgba(8, 8, 8, 0.8);
    background-image: url("../styles/pictures/htmlPics/home.png");
    background-repeat: repeat; 
}
#nav-bar{
    background-color: rgb(0, 0, 0);
    height: 70px;
    position: sticky;
    z-index:3;
}
#chip-btn,
#banking-btn,
#blog-btn{
    margin-top: 10px;
    background-color: transparent;
    color: rgb(236, 193, 0);
    border-style: none;
    text-align: right;
    font-size: 12px;
}
#chip-btn{
    font-size: 15px;
}
footer {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    background: rgba(8, 8, 8, 0.8);
    padding: 20px;
    float: none;
    position: static;
}
.fas{
    margin-left: 10px;
}
#separator{
    margin: 0 20px;
    color:  rgb(160, 42, 42);
}
#log-btn{
    width: 90px;
    height: 35px;
    color:  rgb(236, 193, 0);
    border-color:rgb(236, 193, 0);
    margin: 10px 0 20px 0;
    background-color: transparent;
    outline:0;
}
#log-btn:focus {
    outline:0;
}
#home-col{
    background-color: rgb(0, 0, 0);
    color:white;
}
.col-2{
    text-align: center;
    padding-top: 60px;
}
.separator-left{
    width:80%;
    background-color:grey;
}
#gift{
    height:50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
#home-icon{
    background-color:rgb(236, 193, 0);
}
.col-10{
    padding: 0 0;
}
h4, h5{
    color:  rgb(236, 193, 0);
}
.carousel-caption{
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: -30px;
}
button:focus {
    outline:0;
}
#spade{
    color: rgb(236, 193, 0);
    font-size: 110px;
}
#game{
    margin: 60px;
    min-height: calc(100vh - 70px)                                                                
}
h5{
    font-size: 20px;
}
#game1,
#game2,
#game3,
#game4,
#game5,
#game6,
#hame7,
#game8,
#game9{
    text-align: center;
    display: inline-block;
    height: 200px;
    width: 100px;
    margin-bottom: 150px;
}
.games-pics{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
.games-pics {
    animation: games-pics 2s forwards;
    -webkit-animation: games-pics 2s forwards;
}

.slide-out {
    animation: slide-out 2s forwards;
    -webkit-animation: slide-out 2s forwards;
}
    
@keyframes games-pics {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes games-pics {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
.games-pics:hover{
    opacity: 0.7;
}
li,
#content1,
#content2,
#content3{
    text-align: left;
    color: rgb(84, 84, 84);
    font-size: 18px;
    list-style-type: none;
}
#main-li{
    color:white;
    margin: 20px 0 10px 0;
}
#footer-hr{
    margin: 30px 0;
    background-color: rgb(94, 94, 94);
}
#jumbotron{
    margin: 0 20px;
    background-color: rgba(34, 34, 34, 0.2);
}
.games-pics{
    width:250px;
    height: 250px;
}
#cards{
    margin-bottom: 10px;
}
.social-media{
    height: 26px;
    width:  26px;
    margin-right: 8px;
}
.social-media:hover{
   opacity: 0.5;
}
ul#menu li {
    display:inline;
  }
#vertical-line{
    color:rgb(236, 193, 0);
    margin: 0 25px;
}
#vertical-linenav{
    color: rgb(236, 193, 0);
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -6px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -6px;
    left: -1px;
    position: relative;
    background-color: #ffd900;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}
input[type='radio']:hover{
    background-color: #5b5b5b;
}
#sticky-div{
    margin: 0px 130px 0 0;
}
#logoutBtn{
    margin-right: 20px;
    border-radius: 15px;
    width:200px;
}